#navigation{
    display: flex;
    height: 10vh;
    width: 100vw;
}

#navigation * {
    font-size: 30px;
    width: 20vw;
    text-align: center;
    margin:auto;
}

#search{
    display: flex;
    height: 10vh;
    width: 100vw;
    border: solid black 10px;
    border-radius: 40px;
}

#search :nth-child(1) {
    font-size: 50px;
    width: 10vw;
    text-align: center;
    margin:auto;
}
#search :nth-child(2) {
    font-size: 60px;
    width: 60vw;
    text-align: center;
    margin:auto;
}
#search :nth-child(3) {
    font-size: 50px;
    width: 10vw;
    text-align: center;
    margin:auto;
}
#search :nth-child(4) {
    font-size: 50px;
    width: 20vw;
    text-align: center;
    margin:auto;
}
#options{
    margin-top: 10px;
    display: flex;
    height: 5vh;
    width: 100vw;
}
#options div{
    display: flex;
    width: 30vw;
    border: solid gray 10px;
    background-color: gray;
    border-radius: 15px;
    margin-left: 5px;
    margin-right: 5px;
}
